@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue-color: #0c1016;
  --primary-blue-color: #7dd3f6;

  background-color: var(--dark-blue-color);
  color: var(--primary-blue-color);
  display: flex;
  justify-content: center;
}

.bg-dark-blue {
  background-color: var(--dark-blue-color);
}

.hover\:bg-primary-blue {
  &:hover {
    background-color: var(--primary-blue-color);
  }
}

.text-primary-blue {
  color: var(--primary-blue-color);
}

.hover\:text-dark-blue {
  &:hover {
    color: var(--dark-blue-color);
  }
}

.border-primary-blue {
  border-color: var(--primary-blue-color);
}
